:root {
  --font-family: 'Signika', sans-serif;
  --second-family: 'Shantell Sans', sans-serif;
  --third-family: 'Roboto', sans-serif;
  --font3: 'Montserrat', sans-serif;
  --font4: 'SF Pro', sans-serif;
  --font5: 'Share', sans-serif;
}

body {
  margin: 0;
  background: #ce648e;
}
html {
  scroll-behavior: smooth;

}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

p {
  cursor: default;
}

main:has(.back-link) {
  text-align: center;
}
